body {
    margin: 0%;
}

li {
    list-style: none;
    

}

.header-list li {
    float: right;
    padding: 30px 30px;
    font-family: 'roboto';
}


.header:hover {
color: yellow;

}

.header {
    height: 300px;
    font-size: 50px;
    color:rgb(255, 255, 255);
    float: left;
    padding: 7px 5;
    font-family: 'Futura';
}


.header-list {
    color: rgb(255, 255, 255);
    font-size: 32px;
    float: right;
    justify-content: space-evenly;
    

}

.bg {
    background-color:#313132;
    height: 100px;
}

.main {
    height: 990px;
    padding: 0px 0 30px 0;
    margin: 0%;
    background-color: green;
}

a {
    text-decoration: none;
  }
  
.container {
    width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
    font-family: 'trajan pro';
  
  }
.container-p{
  font-family: 'inter';
  opacity: 0.9;
}
  
.top-wrapper {
    padding: 100px 0 500px 0;
    background-image: url(smkn19jakarta-1024x579.jpeg);
    background-size: cover;
    color: 	#ffffff;
    text-align: center;  
  }
  
.top-wrapper h1 {
    font-size: 50px;
    font-weight: 900;
  }
  
  .btn-wrapper {
    font-family: 'roboto';
  }
.btn {
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
.btn:hover {
    opacity: 1;
    background-color: yellow
  }
  
.signup {
    background-color:#313132;
  }
  
.facebook {
    background-color:#313132;
  }
  
  
.twitter {
    background-color:#313132;
  }


.title h1 {
    font-family: 'futura';
    padding: 0px 40px;
    color: red;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    margin: 10px auto;  
    
  }

.title p span{
    font-size: 95px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;

  }

.koran {
    color: red;
    font-family: 'cambria';
    font-size: 22px;
    padding: 0px 30px ;
    column-gap: 40px;
    column-rule-style: dashed;
    column-rule-color: #ffffff;
    
   }

.KONTAK {
    height: 630px;
    background-color: green;
    padding: 20px 20px;
    font-size: 25px;

    font-family: 'inter';
   }

.selection-title {
    font-size: 40px;
    padding: 0px 20px;
    color: #ffffff ;
    border-style: solid;

 
    margin: 10px auto;  
    
   }

.input,textarea,select {
    border: 5px solid black;
    font-size: 18px; 
    font-family: 'inter';
    font-weight: 500;
    background-color: white;

   }

   